<div class="card" style="width: 400px; height: 80vh;">
  <div class="upper-data">
  <img class="card-img-top" src="../assets/sunny.webp" *ngIf = "14 > 15">
  <img class="card-img-top" src="../assets/cloudy.jpeg" *ngIf = "14 <= 15">

  <div class="weather-data">
    <div class="location">Lagos</div>
    <div class="temperature">{{ 14.40 | number: '1.0-0'}}°C</div>
  </div>
  </div>
  <div class="flex flex-col mx-auto justify-center lower-data pl-2">
    <div class="h3 text-white text-center mt-2">
      More information
    </div>
    <div class="">
      <div class="content d-flex mt-2">
      <div class=" text-white">Date:</div>
      <p class="paragraph text-white">Today</p>
      </div>
      <div class="content d-flex mt-2">
      <div class=" text-white">Wind Speed:</div>
      <p class="paragraph text-white">12km</p>
      </div>
    </div>
  <div class="mt-2">
  <ul class="pagination">
  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>
</div>


  </div>
</div>
